<h1 class="flexbox-header">Não-flex</h1>
<div class="nao-flex">
  <p class="flexbox-item cl-red">A</p>
  <p class="flexbox-item cl-orange">B</p>
  <p class="flexbox-item cl-green">C</p>
  <p class="flexbox-item cl-blue">D</p>
  <p class="flexbox-item cl-purpe">E</p>
  <p class="flexbox-item cl-pink">F</p>
</div>

<h1 class="flexbox-header">Flex</h1>
<div class="flexbox-container flex">
  <p class="flexbox-item cl-red">A</p>
  <p class="flexbox-item cl-orange">B</p>
  <p class="flexbox-item cl-green">C</p>
  <p class="flexbox-item cl-blue">D</p>
  <p class="flexbox-item cl-purpe">E</p>
  <p class="flexbox-item cl-pink">F</p>
</div>
