div {
  width: 250px;
  margin: 10px;
  padding: 30px 15px;
  border: 2px solid rgb(200, 200, 200);
  background-clip: content-box; /* Deixa a margem vazada */
  background-color: #69f0ae; /* Coloração de todo fundo, mas como tem o buraco da margem vai ficar  */
}

.flex {
  display: flex;
}

.item {
  background-color: #7b1fa2;
  text-align: center;
  padding: 5px;
  margin: 5px;
  width: 15px;
  height: 15px;
}
