.nao-flex {
  width: 400px;
  margin: 5px;
  padding: 30px 15px;
  border: 2px solid rgb(200, 200, 200);
  background-clip: content-box;
  background-color: #69f0ae;
}

.flex {
  display: flex;
  width: 400px;
  margin: 5px;
  padding: 30px 15px;
  border: 2px solid rgb(200, 200, 200);
  background-clip: content-box;
  background-color: #69f0ae;
}

/* Specifications for example */
.flexbox-item {
  margin: 5px;
}
