<div class="float-left">
  <h1>float-left</h1>
  <p class="item">A</p>
  <p class="item">B</p>
  <p class="item">C</p>
  <p class="item">D</p>
  <p class="item">E</p>
</div>
<div style="display: grid; width: 100%; border: 0px"></div>
<div class="float-right">
  <h1>float-right</h1>
  <p class="item">A</p>
  <p class="item">B</p>
  <p class="item">C</p>
  <p class="item">D</p>
  <p class="item">E</p>
</div>
<div style="display: grid; width: 100%; border: 0px"></div>
<div class="row-forward">
  <h1>row-forward</h1>
  <p class="item">A</p>
  <p class="item">B</p>
  <p class="item">C</p>
  <p class="item">D</p>
  <p class="item">E</p>
</div>
<div style="display: grid; width: 100%; border: 0px"></div>
<div class="row-backforward">
  <h1>row-backforward</h1>
  <p class="item">A</p>
  <p class="item">B</p>
  <p class="item">C</p>
  <p class="item">D</p>
  <p class="item">E</p>
</div>
<div style="display: grid; width: 100%; border: 0px"></div>
<div class="column-forward">
  <h1>column-forward</h1>
  <p class="item">A</p>
  <p class="item">B</p>
  <p class="item">C</p>
  <p class="item">D</p>
  <p class="item">E</p>
</div>
<div style="display: grid; width: 100%; border: 0px"></div>
<div class="column-backforward">
  <h1>column-backforward</h1>
  <p class="item">A</p>
  <p class="item">B</p>
  <p class="item">C</p>
  <p class="item">D</p>
  <p class="item">E</p>
</div>
