.row-forward {
  flex-direction: row;
}

.row-backforward {
  flex-direction: row-reverse;
}

.column-forward {
  float: left;
  flex-direction: column;
}

.column-backforward {
  flex-direction: column-reverse;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

/* Specifications for example */
.flexbox-item {
  margin: 5px;
}
