div {
  display: flex;
  width: 350px;
  margin: 10px;
  padding: 30px 15px;
  border: 2px solid rgb(200, 200, 200);
  background-clip: content-box;
  background-color: #69f0ae;
}

.item {
  background-color: #7b1fa2;
  text-align: center;
  padding: 5px;
  margin: 5px;
  width: 15px;
  height: 15px;
}

.row-forward {
  flex-direction: row;
}

.row-backforward {
  flex-direction: row-reverse;
}

.row-backforward P {
  background-color: red;
}

.column-forward {
  float: left;
  flex-direction: column;
}

.column-forward p {
  background: orange;
}

.column-backforward {
  flex-direction: column-reverse;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.column-backforward p {
  background: purple;
}
