<div class="toolbar-container">
  <mat-toolbar color="accent">
    <div class="toolbar-button-container">
      <button mat-raised-button (click)="drawer.toggle()">
        <mat-icon style="color: white">menu</mat-icon>
      </button>
    </div>
  </mat-toolbar>
</div>
<div class="page-container">
  <mat-sidenav-container autosize>
    <mat-sidenav #drawer mode="side" opened="true" position="end">
      <mat-accordion>
        <mat-expansion-panel #panel hideToggle expanded="false">
          <mat-expansion-panel-header>
            <div class="full-width navigation-button">
              <p>Position</p>
              <mat-icon>{{
                panel.expanded ? "chevron_left" : "expand_more"
              }}</mat-icon>
            </div>
          </mat-expansion-panel-header>
          <div
            class="full-width subnavigation-button"
            routerLink="/position/absolute"
          >
            Absolute
          </div>

          <div
            class="full-width subnavigation-button"
            routerLink="/position/fixed"
          >
            Fixed
          </div>
          <div
            class="full-width subnavigation-button"
            routerLink="/position/relative"
          >
            Relative
          </div>

          <div
            class="full-width subnavigation-button"
            routerLink="/position/static"
          >
            Static
          </div>

          <div
            class="full-width subnavigation-button"
            routerLink="/position/sticky"
          >
            Sticky
          </div>

          <div
            class="full-width subnavigation-button"
            routerLink="/position/reference"
          >
            References
          </div>
        </mat-expansion-panel>
      </mat-accordion>

      <mat-accordion>
        <mat-expansion-panel #panel hideToggle expanded="true">
          <mat-expansion-panel-header>
            <div class="full-width navigation-button">
              <p>Flexbox</p>
              <mat-icon>{{
                panel.expanded ? "chevron_left" : "expand_more"
              }}</mat-icon>
            </div>
          </mat-expansion-panel-header>

          <div
            class="full-width subnavigation-button"
            routerLink="/flexbox/basic"
          >
            01 Básico de Display Flex
          </div>

          <div
            class="full-width subnavigation-button"
            routerLink="/flexbox/direction"
          >
            02 Directions
          </div>
          <div
            class="full-width subnavigation-button"
            routerLink="/flexbox/wrap"
          >
            03 Wrap
          </div>
          <div
            class="full-width subnavigation-button"
            routerLink="/flexbox/flow"
          >
            04 Flow
          </div>
          <div
            class="full-width subnavigation-button"
            routerLink="/flexbox/justify-content"
          >
            05 Justify Content
          </div>
          <div
            class="full-width subnavigation-button"
            routerLink="/flexbox/align-items"
          >
            06 Align Items
          </div>
          <div
            class="full-width subnavigation-button"
            routerLink="/flexbox/align-content"
          >
            06 Align Content
          </div>
          <div
            class="full-width subnavigation-button"
            routerLink="/flexbox/flex-grow"
          >
            07 Flex Grow
          </div>
          <div
            class="full-width subnavigation-button"
            routerLink="/flexbox/flex-basis"
          >
            08 Flex Basis
          </div>
          <div
            class="full-width subnavigation-button"
            routerLink="/flexbox/flex-shrink"
          >
            09 Flex Shrink
          </div>

          <div
            class="full-width subnavigation-button"
            routerLink="/flexbox/reference"
          >
            Reference
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="rota-container"><router-outlet></router-outlet></div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
