<div style="display: grid; width: 100%; border: 0px">
  <h1>no-wrap</h1>
</div>

<div class="flex-container nowrap">
  <div class="item cl-red">A</div>
  <div class="item cl-green">B</div>
  <div class="item cl-blue">C</div>
  <div class="item cl-purpe">D</div>
</div>

<div style="display: grid; width: 100%; padding-top: 25px; border: 0px">
  <h1>wrap</h1>
</div>

<div class="flex-container wrap">
  <div class="item cl-red">A</div>
  <div class="item cl-green">B</div>
  <div class="item cl-blue">C</div>
  <div class="item cl-purpe">D</div>
</div>

<div style="display: grid; width: 100%; padding-top: 25px; border: 0px">
  <h1>wrap reverse</h1>
</div>

<div class="flex-container wrap-reverse">
  <div class="item cl-red">A</div>
  <div class="item cl-green">B</div>
  <div class="item cl-blue">C</div>
  <div class="item cl-purpe">D</div>
</div>
