<h1 class="flexbox-header">nowrap</h1>
<div class="flex-container nowrap">
  <p class="nowrap-item cl-red">A</p>
  <p class="nowrap-item cl-orange">B</p>
  <p class="nowrap-item cl-green">C</p>
  <p class="nowrap-item cl-blue">D</p>
</div>

<h1 class="flexbox-header">wrap</h1>
<div class="flex-container wrap">
  <p class="wrap-item cl-red">A</p>
  <p class="wrap-item cl-orange">B</p>
  <p class="wrap-item cl-green">C</p>
  <p class="wrap-item cl-blue">D</p>
</div>

<h1 class="flexbox-header">wrap</h1>
<div class="flex-container wrap-reverse">
  <p class="wrap-reverse-item cl-red">A</p>
  <p class="wrap-reverse-item cl-orange">B</p>
  <p class="wrap-reverse-item cl-green">C</p>
  <p class="wrap-reverse-item cl-blue">D</p>
</div>
