/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.full-page-height {
  height: 100vh;
}

.half-width {
  width: 50%;
}

mat-toolbar {
  height: 7vh !important;
}

.toolbar-button-container {
  width: 100%;
  margin: 25px;
  padding: 0;
  display: flex;
  list-style: none;
  flex-direction: row-reverse;
}

.page-container,
.rota-container {
  min-height: 93vh !important;
}

.referenc-container {
  width: 100%;
  background-color: gray;
}

.mat-expansion-panel {
  box-shadow: none !important;
}

/* Sidenav */

.navigation-button {
  font-weight: 500;
}

.mat-sidenav {
  width: 250px;
  position: absolute;
  top: 10vh;
}

.navigation-button {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.mat-expansion-panel-header {
  padding: 0px 5px !important;
  font-size: 18px;
}

.subnavigation-button {
  text-align: left;
  cursor: pointer;
  padding: 0px 0 !important;
}

/* Basic settings for Flexbox itens and containers colors*/
.flexbox-header {
  display: grid;
  width: 100%;
  padding-top: 25px;
  border: 0px;
}
.flexbox-container {
  display: flex;
  width: 400px;
  margin: 10px;
  padding: 30px 15px;
  border: 2px solid rgb(200, 200, 200);
  background-clip: content-box;
  background-color: #69f0ae;
}
.flexbox-item {
  text-align: center;
  padding: 5px;
  margin: 5px;
  width: 15px;
  height: 15px;
  border: 2px solid transparent;
}
.cl-red {
  background-color: red;
}
.cl-orange {
  background-color: orange;
}
.cl-green {
  background-color: green;
}
.cl-blue {
  background-color: blue;
}
.cl-purpe {
  background-color: purple;
}
.cl-pink {
  background-color: pink;
}
